@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  :root {
    --header-bg: #ffffff;
    --header-bg-light: #ffffff;
  }

  [data-theme="dark"] {
    --header-bg: #151d32;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* اضافه شده: مقدار هدر در حالت دارک */
    --header-bg: #151d32;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

header {
  background: var(--header-bg);
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1yo9slo-MuiToolbar-root {
  background-color: var(--header-bg) !important;
}
.MuiContainer-root.MuiContainer-maxWidthXl.css-4i30i7-MuiContainer-root {
  background-color: #151d32;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-da4wxi-MuiPaper-root {
  background-color: #292f45;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-29kp3s-MuiPaper-root {
  background-color: #292f45;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1r5pxjk-MuiPaper-root {
  background-color: #292f45;
}
.MuiBox-root.css-vlpvy0 {
  background-color: #151d32;
}
.MuiBox-root.css-mp2303 {
  display: none;
}
.MuiTypography-root.MuiTypography-h6.css-1mgridi-MuiTypography-root {
  color: white;
}
.css-mhc70k-MuiGrid-root {
  flex-wrap: inherit !important;
}
.css-je6oj5-MuiPaper-root {
  background-color: #3f4861;
}
.css-29kp3s-MuiPaper-root {
  min-height: 440px !important;
}
.css-tta02v-MuiPaper-root {
  min-height: 440px !important;
}
.MuiContainer-root.MuiContainer-maxWidthXl.css-4i30i7-MuiContainer-root {
  background-color: #f5f7fa00 !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-tta02v-MuiPaper-root {
  background-color: #e1e9ee;
}
.css-1vl01ga-MuiPaper-root {
  background-color: #e1e9ee !important;
}
.css-1m4mzyg-MuiPaper-root {
  background-color: #e1e9ee !important ;
}
h1.MuiTypography-root.MuiTypography-h4.MuiTypography-gutterBottom.css-gbyfz7-MuiTypography-root{
  color: white !important;
}
.css-1keizs3{
  min-height: 30px !important;
}